body {
  margin: 0;
  padding: 0;
}
.top-menu {
  position: relative;
  background: rgba(245, 245, 245, 0.637);
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {
  float: left;
}
.right-item {
  float: right;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
  transition: 0.3s linear;
}
.menu-main a:hover {
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 950px) {
  .menu-main {
    padding-top: 50px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }
  .header-subtitle {
    font-size: 4vw;
  }
}
@media (max-width: 630px) {
  .menu-main li {
    display: block;
  }
  .menu-main {
    padding-top: 30px;
    text-align: center;
  }
  .header-subtitle {
    font-size: 4vw;
  }
}
.logo-navbar {
  width: 50%;
}
.header {
  background-image: url(../img/man-coffee-cup-pen.jpg);
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}
.header-info {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 10%;
}
.header-title {
  font-size: 7vw;
  color: white;
}
.header-subtitle {
  font-size: 2vw;
  color: white;
}
