body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.top-menu {
  position: relative;
  background: rgba(245, 245, 245, 0.637);
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-main:after {
  content: "";
  display: table;
  clear: both;
}

.left-item {
  float: left;
}

.right-item {
  float: right;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.menu-main a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.logo-navbar {
  width: 50%;
}

.header {
  background-image: url(../img/man-coffee-cup-pen.jpg);
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.header-info {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 10%;
}

.header-title {
  font-size: 7vw;
  color: white;
}

.header-subtitle {
  font-size: 2vw;
  color: white;
}

.courses {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding-top: 2%;
  text-align: center;
  margin-bottom: 5%;
}

.courses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses-front,
.courses-figma,
.courses-smm {
  width: 350px;
  height: 80vh;
  margin: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.courses-front:hover,
.courses-figma:hover,
.courses-smm:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.courses-img-smm {
  margin: 20px auto;
  background-image: url(../img/smm.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  border-radius: 50%;
}

.courses-card-title {
  font-size: 30px;
}

.courses-subscribe {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: #fd8f00;
  margin-top: 20px;
  margin-bottom: 20px;
}

.courses-subscribe:hover {
  background-color: #ffbb00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .courses-front,
  .courses-figma,
  .courses-smm {
    width: 200px;
    margin: auto;
    height: auto;
  }
  .courses-img-smm {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 950px) {
  .courses-list {
    display: block;
    width: 100%;
  }
  .courses-front,
  .courses-figma,
  .courses-smm {
    margin: 20px auto;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #cecece;
  }
  .menu-main {
    padding-top: 70px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 10px 15px;
    font-size: 16px;
  }
  .header-subtitle {
    font-size: 4vw;
  }
}

@media (max-width: 630px) {
  .courses-list {
    display: block;
    width: 100%;
  }
  .courses-front,
  .courses-figma,
  .courses-smm {
    margin: 20px auto;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #cecece;
  }
  .menu-main li {
    display: block;
  }
  .menu-main {
    padding-top: 40px;
    text-align: center;
  }
  .header-subtitle {
    font-size: 4vw;
  }
}
